@use 'modules/homepage'
@use "./var"

.load
    cursor: wait

#main.tip-sheet
    margin-right: 10px

header
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    h1
        margin: 10px

    nav
        display: flex
        align-items: center

        input
            margin: 10px
            width: 50px
            height: 30px
            font-size: 20px
            text-align: center
        
        section
            display: flex

.btn 
    padding: 10px
    border-radius: 30px
    margin: 10px
    cursor: pointer
    color: white

    &.grey
        background-color: var.$dark-grey

        &:hover
            background-color: var.$grey-brown
    
    &.reveal
        background-color: var.$green

        &:hover
            background-color: var.$dark-green 

    &.validate
        background-color: var.$green

    &.disable
        background-color: var.$red
    
    &.blue
        background-color: var.$blue

        &:hover
            background-color: var.$dark-blue 

#info
    margin: 10px
    color: var.$dark-blue
    cursor: pointer

    &:hover
        color: var.$blue

.danger
    margin: 10px
    color: var.$red
    cursor: pointer

    &:hover
        color: var.$purple

#card
    display: flex
    flex-direction: column
    align-items: center
    margin: 20px

    .reveal, .name
        font-size: 20px
    
    .name
        background-color: var.$blue
        order: 3
        cursor: auto

    section
        display: flex

    img
        border-radius: 20px      

.tip
    margin-top: 10px
    max-width: 700px

    li
        font-size: 20px
        margin-bottom: 5px

// .example
//     justify-self: start

span
    font-weight: bold

#series
    margin: 20px
    display: flex
    justify-content: center
    flex-wrap: wrap

    .bullet
        width: 20px
        height: 20px
        margin: 10px
        border-radius: 90px
        cursor: help

        &.unread
            background-color: var.$dark-grey

        &.current
            width: 10px
            height: 10px
            border: var.$dark-grey 5px solid

        &.win
            background-color: var.$dark-green

        &.lose
            background-color: var.$red

        &.retry
            width: 10px
            height: 10px
            background-color: var.$dark-grey
            border: var.$red 5px solid

        &.again
            width: 10px
            height: 10px
            background-color: var.$red
            border: var.$purple 5px solid

        &.back
            width: 10px
            height: 10px
            background-color: var.$red
            border: var.$dark-green 5px solid

.message
    margin-bottom: 30px

.message-none
    margin-top: 40px

#data
    margin-top: 40px
    border-collapse: collapse

    th
        padding: 30px
    
    td
        border-right: var.$dark-grey 1px solid
        padding: 20px
        text-align: center

        &.action
            border-right: none
            display: flex
    
        .action-btn
            display: flex
            align-items: center
            justify-content: center
            background-color: var.$red
            color: white
            cursor: pointer
            margin: 5px
            width: 30px
            height: 30px
            border-radius: 90px

            &.redo
                background-color: var.$dark-blue

                &:hover
                    background-color: var.$blue

            &.sync
                background-color: var.$red

                &:hover
                    background-color: var.$purple